
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.6;
}

header {
  background-color: #2a2a72;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  font-size: 1.5rem;
   background-color:#00B0FF;
   padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 13px;
     border-radius: 5px;
     filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}




nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  background-color: #00B0FF;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  transition: 0.5s;
}

nav a:hover {
   background-color:#036fa1;
   transition: 0.5s;
   


   
  


}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(45deg, #2a2a72, #009ffd);
  color: white;
}

.hero .btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: white;
  color: #3939cf;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  transition: 0.5s;
}

.hero .btn:hover{
   background-color: rgb(172, 172, 172);
   transition: 0.5s;
  

}


.sobre,
.produtos,
.contato {
  padding: 2rem;
  text-align: center;
  
}
.sobre p{
  font-weight: 500;
  padding-top: 10px;
}

.galeria {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}

.produto {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 220px;
}

.produto img {
  width: 100%;
  border-radius: 5px;
}

.produto h3 {
  margin: 0.5rem 0;
}

.produto p { 
  font-weight: 600;
  padding: 10px;
}

.produto .btn {
  background-color: #2a2a72;
  color: white;
  padding: 0.3rem 0.7rem;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.5s;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  padding-bottom: 8px;
}



.contato form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}

.contato input,
.contato textarea {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contato button {
  background-color: #2a2a72;
  color: white;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s;
   filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}

.contato button:hover{
  background-color: #171738;
  transition: 0.5s;
}

footer {
  background-color: #2a2a72;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 480px) {
  header {
    flex-direction: inline-flex;
    padding: 1rem;
    height: auto;
    display:flex;
    align-items: stretch;
    text-align: center;
  }

  header h1 {
    padding:auto;
    height:auto;
    
    
    
      
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  nav a {
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 1rem;
  }
}
